@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke {
    -webkit-text-stroke: 2px #fafafa;
    color: rgba(0, 0, 0, 0);
    transition: color 0.25s ease-in-out;
}

.stroke:hover {
    color: #ffffff;
}
