@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke {
    -webkit-text-stroke: 2px #fafafa;
    color: rgba(0, 0, 0, 0);
    transition: color 0.25s ease-in-out;
}

.stroke:hover {
    color: #ffffff;
}

.dash{
position: relative;
}
.dash:after {
    content: "";
    position: absolute;
    right: -8rem;
    top: 50%;
    width: 6rem;
    height: 2px;
    background: #ffffff;
}